*.pyc
*~
irm/build
irm/buildvm
*.o
*.pickle
*.png
experiments/*/*.pdf
experiments/*/*/*.pdf
*.init
*.config
*.latent
*.data
*.aux
*.bbl
*.bcf
*.blg
*.log
*.run.xml
*.lprof
*.meta
*.samples
*.wait
*.exp
.DS_Store
*.scores
