{% for r in ribbons %}
link{{loop.index}} {{r['src_c']}} {{r['src_len']//2 - r['width']//2}}  {{r['src_len']//2 + r['width']//2}}
link{{loop.index}} {{r['dest_c']}} {{r['dest_len']//2 - r['width']//2}}  {{r['dest_len']//2 + r['width']//2}}
{%endfor%}
